.header {
	&__inner {
		padding: 10px 0;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		border-radius: 8px;

		&:hover {
			background-color: #232324;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		font-weight: 500;
		color: #818c99;
		line-height: 20px;
		padding: 6px 16px;
		min-height: 44px;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--accent-color);
		font-weight: 100;
		font-size: 13px;
		padding: 8px !important;
		border-radius: 12px;
		background: #2c2c2d !important;
	}
}

.active-link {
	color: var(--light-color);

	& span {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: -5px;
			height: 3px;
			width: 100%;
			background: var(--accent-color);
			border-radius: 5px;
		}
	}
}
